header, nav, main {
    max-width: 1200px;
    margin: auto;
}
// main h1 {
//     max-width: auto;
// }

/* CSS for loop */
@for $i from 1 through 12 {
    $width: calc($i/ 12) * 100%;
    .large-#{$i} {flex-basis: $width;}
}